<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1.html}">
<head>
    <meta charset="UTF-8">
    <title>회사 소개</title>
    <style>
        .bold {
            text-
        }
    </style>
</head>
<body>
<div class="content mt-5" layout:fragment="content">
    <div class="bold">
        <a href ="#">우리가 누구?</a>
    </div>
</div>
</body>
</html>