<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1.html}">
<head>
    <meta charset="UTF-8">
    <title>자재 상세 보기</title>
</head>
<body>
<div layout:fragment="content">

    <h4>자재명</h4>
    <h1 th:text="${materialDTO.matName}">자재명</h1>

    <h4>내용</h4>

    <p>작성자: <span th:text="${materialDTO.writer}"></span></p>
    <p>등록 날짜: <span th:text="${materialDTO.regidate}"></span></p>

    <div class="d-flex justify-content-end mt-3 mb-3">
        <a href="/material/list" type="button" class="btn btn-dark me-2">목록으로 돌아가기</a>
        <a href="/material/modify" type="button" class="btn btn-primary me-2">수정</a>
        <a href="/material/delete" type="button" class="btn btn-danger">삭제</a>
    </div>
</div>
</body>
</html>
